<div class="footer">
  <p>Generated: {{ FormatDate .Generated }} | <a rel="alternate" type="application/rss+xml" href="/rss.xml">RSS 2.0</a></p>
  <p class="copyright">&copy; 2023 Ryan Olds<br>All Rights Reserved</p>
</div>
