{{ template "preamble.tmpl" . }}      
<div class="content post-list">
  {{ range .Posts}}
    <div class="post-list-item">
      <h1>{{ .Title }}</h1>
      <p>{{ .Intro }}</p>
      <span class="read-more">Read More</span>
      <span class="created-at">{{ .CreatedAt }}</span> 
      <div class="clear"></div>
    </div>
  {{ end }}
</div>
{{ template "epilogue.tmpl" . }}
