{{ template "preamble.tmpl" . }}      
<div class="content post-list">
  {{ range .Posts}}
    <a href="/posts/{{ .Slug }}">
      <div class="post-list-item">
        <h1>{{ .Title }}</h1>
        <p>{{ .Intro }}</p>
        <span class="read-more">Read More</span>
        <span class="published-at">{{ FormatDate .PublishedAt }}</span>
        <div class="clear"></div>
      </div>
    </a>
  {{ end }}
</div>
{{ template "epilogue.tmpl" . }}
