<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .center {
        margin: auto;
	width: 50%;
	max-width: 1024px;
      }
    </style>
    {{.CSS}}
    {{.JavaScript}}
  </head>
  <body>
    <div class="center">
      {{.Body}}
    </div>
  </body>
</html>
