      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Pedantic Orderliness</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Posts</a></li>
            <li><a href="badges.html">Projects</a></li>
            <li><a href="collapsible.html">About</a></li>
          </ul>
        </div>
      </nav>
