<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:black" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    {{ if ne .Site.Env "production" }}
    <meta name="robots" content="noindex, nofollow" />
    {{ else }}
    <meta name="robots" content="index, follow" />
    {{ end }}
  </head>
  <body>
    <div class="grid">
      {{ template "header.tmpl" }}
      {{ template "sidebar.tmpl" }}
