<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
    <title>Pedantic Orderliness</title>
    <description>An assortment of technical posts, projects, game reviews, and random musings by Ryan Olds.</description>
    <link>https://www.pedanticorderliness.com/</link>
    <lastBuildDate>{{ FormatRssDate .Generated}}</lastBuildDate>
    <ttl>1440</ttl>
    {{ range .Posts}}
    <item>
        <title>{{ .Title }}</title>
        <description>{{ .Intro }}.</description>
        <link>{{ .Url }}</link>
        <pubDate>{{ FormatRssDate .PublishedAt }}</pubDate>
    </item>
    {{ end }}
</channel>
</rss>
