<div class="sidebar">
  <img class="photo" src="static/ryanolds.jpg"/>
  <div class="about">
    <h3>About Ryan Olds</h3>
    <p></p>
  </div>
  <div class="projects"></div>
  <div class="recent-reads">
    <h3>Recent Reads</h3>
    <h4>A Programmer’s Introduction to Mathmatics</h4>
    <img src=""/>
    <h4>Thinking, Fast and Slow</h4>
    <img src=""/> 
  </div>
</div>
