body {
  margin: 0 0 2rem 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
}
h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: normal;
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
}
h1 + p, h2 + p, h3 + p {
  margin-top: 0.5rem;
}
div#published-at + p {
  margin-top: 0.5rem;
}
p {
  font-size: 1rem;
  text-align: justify;
  color: #3A4145;
}
p.small {
  font-size: .8rem;
}
p.subtext {
  margin-top: 0.25rem;
  font-size: .8rem;
}
pre.chroma {
  white-space: pre-wrap;
  padding: .5rem;
  overflow-x: auto;
  background-color: #dddddd;
}
code {
  padding: .25rem;
  background-color: #dddddd;
}
blockquote {
  background-color: #555555;
  margin: 2rem 0; 
  padding-left: 4rem;
}
blockquote p {
  background-color: #efefef;
  padding: 1rem;
}
blockquote p code {
  background-color: #cccccc;
}
#disqus_thread {
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3rem auto auto auto;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100%, auto);
}

.header {
  grid-area: 1 / 1 / 1 / 2;
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'Roboto', sans-serif;

  background-color: black;
  height: 100%;
}
.header a {
  text-decoration: none;
}
.header img {
  float: left;
  height: 100%;
  margin-right: 1rem;
}
.header div {
  font-weight: bold;
  color: white;
}

.content {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 1rem;
}
.content img {
  width: 100%;
  box-sizing: border-box;
  border: .25rem solid black;
}
.content a {
  color: black;
}
.content #published-at {
  margin-top: .25rem;
  font-weight: bold;
}

.post-list {
}
.post-list a {
  text-decoration: none;
  color: inherit;
}
.post-list a:hover .read-more {
  text-decoration: underline; 
}
.post-list-item {
  margin-bottom: 1.5rem;
}
.post-list-item .read-more {
  font-weight: bold;
  margin-top: .5rem;
  float: right;
}
.post-list-item .published-at {
  margin-top: .5rem;
  float: left;
  font-weight: bold;
}
.post-list-item p {
  margin: 0 0 0 0;
}
.post-list-item img {
  float: right;
}
.post-list-item img.left {
  float: left;
}
.clear {
  clear: both;
}

.sidebar {
  grid-area: 3 / 1 / 4 / 2;
  padding: 0 1rem;
  text-align: justify; 
}
.photo {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  border: .25rem solid black;
}

.recent-reads {
  margin-top: 2rem;
}
.recent-reads a {
  color: black !important;
  text-decoration: none;
}
.recent-reads a:hover {
  text-decoration: underline;
}
.recent-reads h3 {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.recent-reads h4 {
  text-align: center;
  margin: 1em 0 .5em 0;
}
.recent-reads img {
  width: 100%;
  border: .25rem solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.footer {
  grid-area: 4 / 1 / 5 / 2;
  padding: 0 2rem;
}
.footer > div {
  text-align: center;
}
.footer p {
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

@media screen and (min-width: 54em) {
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  h2 {
    font-weight: bold;
  }

  .grid {
    grid-template-columns: 1fr 18rem;
    grid-template-rows: 5rem 1fr auto;
    grid-gap: 2rem;
    grid-auto-rows: minmax(100%, auto);
  }

  .header {
    grid-area: 1 / 1 / 1 / 3;
    font-size: 3rem;
    line-height: 5rem;
  }

  .sidebar {
    grid-area: 1 / 2 / 3 / 3;
    padding-right: 2rem;
    padding-top: 30px;
    padding-left: 0;
  }

  .content {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 2rem;
    padding-right: 0;right: 0;
  }

  .footer {
    grid-area: 3 / 1 / 4 / 3;
  }

  .post-list-item {
    margin-bottom: 2rem;
}

@media screen and (min-width: 54rem)and (max-width: 68rem) {
  .grid {
    grid-template-columns: 1fr 18rem; 
  }

  .header {
    font-size: 3rem;
  }
}

@media screen and (min-width: 68rem) {
  .grid {
    margin: auto;
    max-width: 75em; 
  }
}
